<div class="small-12 medium-4 columns service <%= presented_service.colour %>">
  <div class="content">
    <%= presented_service.linked_name %>
  </div>
  <%= image_tag "http://placebear.com/150/150" %>
</div>