<div class="small-12 medium-4 columns service <%= presented_service.colour %>">
  <div class="left">
    <%= presented_service.name %>
  </div>
  <div class="right">
    <%= image_tag "http://placebear.com/150/150" %>
  </div>
</div>