<%= render 'optimadmin/shared/header/main_title', title: 'New Testimonal' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: testimonials_path, title: 'Testimonal' %>

  <%= render 'form', testimonial: @testimonial %>
</div>