<%= render 'optimadmin/shared/header/main_title', title: 'Edit Location' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: locations_path, title: 'Location' %>

  <%= render 'form', location: @location %>
</div>