<section class="separated-section page lightest-grey-background">
  <div class="row">
    <div class="small-12 columns">
      <div class="content-box">
        <h1><%= @presented_page.title %></h1>

        <div class="content-wrap">
          <%= @presented_page.image %>

          <%= @presented_page.content %>

          <% if @page.id == 6 %>
            <script type="text/javascript" src="//www.cqc.org.uk/sites/all/modules/custom/cqc_widget/widget.js?data-id=RXG&data-host=www.cqc.org.uk&type=provider"></script>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
