<section class="separated-section page lightest-grey-background">
  <div class="row">
    <div class="small-12 columns">
      <div class="content-box">
        <h1><%= @presented_page.title %></h1>

        <div class="content-wrap">
          <div class="row">
            <div class="small-12 medium-5 columns">
              <div class=""
            </div>
            <div class="small-12 medium-7 columns">

            </div>
          </div>
          <%= @presented_page.image %>

          <%= @presented_page.content %>
        </div>
      </div>
    </div>
  </div>
</section>
