nav {
  ul {
    list-style-type: none;
    li {
      display: inline;
    }
  }
}

a {
  text-decoration: none;
}

.lightest-grey-background {
  background-color: $lightest-grey;
}

.button, input[type="submit"] {
  display: inline-block;
  border-radius: 5px;
  padding: 5px 15px;
  border: 1px solid $light-grey;
  background-color: $white;
  margin: 5px auto;
  color: $dark-grey;
  font-size: em(12px);
  font-weight: bold;
  &:hover {
    background-color: $button-blue;
    border-color: $button-blue;
    color: $white;
  }
}