header {
  nav {
    background-color: $nav-blue;
    text-align: center;
    a {
      text-transform: uppercase;
      padding: 20px;
      color: $white;
    }
    a.active, a:hover {
      background-color: $nav-dark-blue;
    }
  }
}