%page-content-box-paragraph {
  color: $page-secondary-text-color;
  font-size: em(13px);
  line-height: 2;
}

.page {
  h1 {
    border-bottom: 1px solid $nav-dark-blue;
    font-size: em(16px);
    font-weight: $primary-font-semibold;
    color: $bright-blue;
    padding: 0 em(30px, 16px) em(30px, 16px);
  }

  .content-wrap {
    @extend %clearfix;
    padding: em(30px, 16px) em(30px, 16px) 0;

    @include responsive-to(small) {
      padding: 0;
    }

    @include responsive-to(medium) {
      padding: em(20px) em(5px);
    }
  }

  p {
    @extend %page-content-box-paragraph;

    &:first-of-type {
      color: $page-text-color;
    }
  }

  li {
    color: $page-secondary-text-color;
    font-size: em(13px);
    line-height: 2;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $nav-dark-blue;
    font-weight: $primary-font-semibold;
  }
}
