// Used for service layout specifics

$service-pink: #E65EB8;
$service-light-purple: #EEE8EF;
$service-dark-purple: #63286A;
$service-light-blue: #00AADA;
$service-dark-blue: #5661A2;
$service-turquoise: #95F3F5;
$service-green: #55D18B;
$service-dark-green: #129B94;

.pink {
  .service,
  .service-navigation-wrap {
    background: $service-pink;
    color: $white;
  }

  .content-box h1,
  .content-box .styled-title {
    color: $service-pink;
    border-color: $service-pink;
  }

  .content-box h1,
  .content-box h2,
  .content-box h3,
  .content-box h4,
  .content-box h5,
  .content-box h6 {
    color: $service-pink;
  }


  .service-banner-content {
    background: image-url('service/pink-banner-mask.png') top left no-repeat;
  }
}

.light-purple {

}

.service {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: em(16px);
  font-weight: $primary-font-semibold;
  padding: em(16px, 16px) em(10px, 16px);
  text-align: center;
}

.service-layout .content-box {
  margin: 0 0 em(30px);

  h1,
  .styled-title {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-size: em(16px);
    font-weight: $primary-font-semibold;
    margin: 0;
    padding-bottom: em(12px, 16px);
  }

  .styled-title {
    padding-bottom: em(30px, 16px);
    text-align: center;
  }

  p {
    @extend %page-content-box-paragraph;
  }
}

.service-navigation-wrap {
  @extend %content-box-shadow;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin: em(4px) 0 0;
  padding-bottom: em(23px);

  .top-level {
    background: $nav-dark-blue;
    padding-bottom: em(76px);
  }

  .menu-item-depth-1 {
    display: block;

    &:hover ul {
      display: block;
    }
  }

  a {
    display: block;
    border-bottom: 1px solid $nav-light-border;
    font-weight: $primary-font-semibold;
    margin: 0 em(20px);
    padding: em(20px) em(24px);

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $white;
    }
  }

  .has-dropdown {
    background: image-url('components/navigation/dropdown.png') 90% 30px no-repeat;
  }
}

.service-navigation-wrap .dropdown {
  display: none;
  background: $white;
  margin: 0;
  padding: em(15px) 0;

  a {
    border: 0;
    font-size: em(13px);
    font-weight: $primary-font-semibold;
    padding: em(10px, 13px) 0 em(10px, 13px) em(44px, 13px);

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $nav-dark-blue;
    }
  }
}

.service-banner {
  position: relative;
  height: 188px;
  overflow: hidden;
  margin: 0 0 em(33px);

  .service-banner-content {
    color: $white;
    height: 188px;
    left: 0;
    padding: em(60px) em(132px) em(60px) em(26px);
    position: absolute;
    top: 0;
    width: 432px;
    z-index: 2;
  }


  .service-banner-image {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}
