<%= render 'optimadmin/shared/header/main_title', title: 'Edit Pathway Jigsaw Piece' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: pathway_jigsaw_pieces_path, title: 'Pathway Jigsaw Piece' %>

  <%= render 'form', pathway_jigsaw_piece: @pathway_jigsaw_piece %>
</div>