<%= render 'optimadmin/shared/header/main_title', title: 'New Pathway Jigsaw Piece' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: pathway_section_pathway_jigsaw_pieces_path(@pathway_section), title: 'Pathway Jigsaw Piece' %>

  <%= render 'form' %>
</div>