<div class="row">
  <div class="small-12 columns">
    <h1>Frequently Asked Questions</h1>

    <%= render partial: "frequently_asked_questions/frequently_asked_question", collection: @presented_frequently_asked_questions, as: :presented_faq %>

    <%= paginate @presented_frequently_asked_questions %>
  </div>
</div>