.home.banner {
  height: 276px;
  margin: em(22px) 0 em(20px);
  position: relative;

  a {
    color: $white;
  }

  @include responsive-to(small) {
    position: static;
    height: auto;
  }

  h1 {
    font-size: em(18px);
    margin: 0 0 em(10px);
    overflow: hidden;
  }

  p {
    font-size: em(12px);
  }

  .content {
    background: image-url('banner/mask.png') left no-repeat;
    color: $white;
    height: 276px;
    left: 0;
    padding: em(60px) em(200px) 0 em(50px);
    position: absolute;
    top: 0;
    width: 633px;
    z-index: 1;

    @include responsive-to(small) {
      background: $bright-blue;
      height: auto;
      padding: em(10px);
      position: static;
      width: auto;
    }
  }

  img {
    position: absolute;
    right: 0;
    top: 0;

    @include responsive-to(small) {
      position: static;
    }
  }
}
