.testimonial {

}

.service-layout .testimonial-content {
  color: $button-blue;
  font-style: italic;
  text-align: center;
  padding: em(54px) 0;

  p,
  p:first-of-type {
    font-weight: $primary-font-semibold;
    color: $button-blue;
  }
}

.testimonial-author {
  font-family: $third-font;
  font-size: em(11px);
  font-weight: $third-font-bold;
  margin: em(9px, 11px) 0 0;
  text-transform: uppercase;
  text-align: center;
  color: $white;
}
