<%= render 'optimadmin/shared/header/main_title', title: 'New Pathway Section' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: pathway_sections_path, title: 'Pathway Section' %>

  <%= render 'form', pathway_section: @pathway_section %>
</div>