<div class="row">
  <div class="small-12 columns">
    <%= render partial: "banners/banner", collection: @presented_banners, as: :presented_banner %>
  </div>
</div>


<section class="home services row">
  <%= render partial: "services/home_service", collection: @presented_services, as: :presented_service %>
</section>

<section class="lightest-grey-background">
  <div class="row">
    <div class="small-12 medium-7 columns">

    </div>
    <div class="small-12 medium-5 columns home articles">
      <%= render partial: "articles/home_article", collection: @presented_articles, as: :presented_article %>
      <%= link_to "All News >", articles_path, class: "view-all" %>
    </div>
  </div>
</section>