<%= render 'optimadmin/shared/header/main_title', title: 'Edit Pathway Row' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: pathway_section_pathway_rows_url(@pathway_section), title: 'Pathway Row' %>

  <%= render 'form' %>
</div>