<div class="testimonial">
  <div class="testimonial-content">
    <%= presented_testimonial.content %>
  </div>

  <div class="testimonial-author">
    <%= presented_testimonial.author %>
  </div>
</div>
