<div class="location row">
  <div class="small-12 columns">
    <h4><%= presented_location.name %></h4>

    <%= presented_location.content %>

    <%= presented_location.opening_times %>
  </div>
</div>