<div class="location row">
  <div class="small-12 columns">
    <h4><%= presented_location.name %></h4>

    <%= presented_location.content %>

    <% if presented_location.opening_times.present? %>
      <h4>Opening Times</h4>
    <% end %>

    <%= presented_location.opening_times %>
  </div>
</div>
