<footer>
  <div class="row">
    <div class="medium-4 columns">
      <%= link_to image_tag('all_of_us_logo.jpg', class: 'footer-all-of-us-logo'), "http://www.southwestyorkshire.nhs.uk/" %>
    </div>

    <div class="medium-8 columns">
      <nav class="footer-navigation">
        <ul>
          <%= nested_menu_items(menu_items: @header_menu.menu_items, menu_name: @header_menu.name) %>
        </ul>
      </nav>

      &copy; South West Yorkshire Partnership NHS Foundation Trust. All rights reserved
    </div>
  </div>
</footer>

<%= javascript_include_tag 'application' %>

<%= yield :footer %>
