<footer>
  <div class="row">
    <div class="small-4 columns">

    </div>
    <div class="small-8 columns">
      <nav>

      </nav>
      &copy; Barnsley 0-19 Children's Community Health Service. All rights reserved
    </div>
  </div>
</footer>