<header>
  <div class="row">
    <div class="small-12 columns">
      <%= image_tag "logo.jpg", alt: global_site_settings["Name"], title: global_site_settings["Name"] %>
      <%= image_tag "nhs_logo.jpg", alt: "South West Yorkshire Partnership NHS Foundation Trust", title: "South West Yorkshire Partnership NHS Foundation Trust" %>
    </div>
  </div>
  <nav>
    <div class="row">
      <div class="small-12 columns">
        <ul>
          <li>Home</li>
          <li>Services</li>
          <li>About Us</li>
          <li>News</li>
          <li>Contact Us</li>
        </ul>
      </div>
    </div>
  </nav>
</header>