<header>
  <div class="covid-19-banner">We are open during COVID 19</div>

  <div class="row">
    <div class="small-12 columns">
      <%#= link_to image_tag("logo.jpg", alt: global_site_settings["Name"], class: 'left'), "#{ request.protocol }#{ 'www.' if Rails.env.production? }#{ request.domain }" %>
      <div class="left">
        <%= link_to root_url, class: 'title' do %>
          Barnsley Specialist<br />Children’s Health Services
        <% end %>
      </div>

      <%= link_to image_tag("logo_swyp_nhs.png", alt: "South West Yorkshire Partnership NHS Foundation Trust", style: 'max-height: 40px;'), "http://www.southwestyorkshire.nhs.uk/", class: 'right' %>
    </div>
  </div>

  <nav class="primary-navigation">
    <div class="row">
      <div class="small-12 columns">
        <ul class="navigation" id="header-navigation">
          <%= nested_menu_items(menu_items: @header_menu.menu_items, menu_name: @header_menu.name) %>
        </ul>
      </div>
    </div>
  </nav>
</header>
